@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <form>
            <fieldset>
                <legend>Item Name</legend>
                <input type="text" class="form-control" name="" id="item" />
                <legend>Quantity</legend>
                <input type="number" class="form-control" name="" id="quantity" />
                <button type="button" id="insert" class="btn btn-success">Insert</button>
                <button type="button" id="create" class="btn btn-success">Create Table</button>
                <button type="button" id="remove" class="btn btn-danger">Delete Table</button>
                <button type="button" id="list" class="btn btn-success">Fetch Record</button>

            </fieldset>
        </form>
        <hr>
        <h4>Record</h4>
        <table class="table table-bordered table-hover">
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>